:root {
  // MD Red
  --md-red-50 : #fde9e9;
  --md-red-100 : #fac7c7;
  --md-red-200 : #f7a2a2;
  --md-red-300 : #f47c7c;
  --md-red-400 : #f16060;
  --md-red-500 : #ef4444;
  --md-red-600 : #ed3e3e;
  --md-red-700 : #eb3535;
  --md-red-800 : #e82d2d;
  --md-red-900 : #e41f1f;
  --md-red-A100 : #ffffff;
  --md-red-A200 : #ffe7e7;
  --md-red-A400 : #ffb4b4;
  --md-red-A700 : #ff9b9b;

  // MD Red Contrast
  --md-red-c-50 : #000000;
  --md-red-c-100 : #000000;
  --md-red-c-200 : #000000;
  --md-red-c-300 : #000000;
  --md-red-c-400 : #000000;
  --md-red-c-500 : #ffffff;
  --md-red-c-600 : #ffffff;
  --md-red-c-700 : #ffffff;
  --md-red-c-800 : #ffffff;
  --md-red-c-900 : #ffffff;
  --md-red-c-A100 : #000000;
  --md-red-c-A200 : #000000;
  --md-red-c-A400 : #000000;
  --md-red-c-A700 : #000000;


  // MD Amber
  --md-amber-50 : #fef3e2;
  --md-amber-100 : #fce2b6;
  --md-amber-200 : #facf85;
  --md-amber-300 : #f8bb54;
  --md-amber-400 : #f7ad30;
  --md-amber-500 : #f59e0b;
  --md-amber-600 : #f4960a;
  --md-amber-700 : #f28c08;
  --md-amber-800 : #f08206;
  --md-amber-900 : #ee7003;
  --md-amber-A100 : #ffffff;
  --md-amber-A200 : #ffeee1;
  --md-amber-A400 : #ffd0ae;
  --md-amber-A700 : #ffc195;

  // MD Amber Contrast
  --md-amber-c-50 : #000000;
  --md-amber-c-100 : #000000;
  --md-amber-c-200 : #000000;
  --md-amber-c-300 : #000000;
  --md-amber-c-400 : #000000;
  --md-amber-c-500 : #000000;
  --md-amber-c-600 : #000000;
  --md-amber-c-700 : #000000;
  --md-amber-c-800 : #000000;
  --md-amber-c-900 : #000000;
  --md-amber-c-A100 : #000000;
  --md-amber-c-A200 : #000000;
  --md-amber-c-A400 : #000000;
  --md-amber-c-A700 : #000000;
}