.camera-wrapper {
  width: 666.7px;
  height: 666.7px;
  position: relative;

  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.outer {
      width: calc(100% + 200px);
      height: calc(100% + 200px);
      background-color: var(--yellow-ultra-light);
    }

    &.inner {
      width: calc(100% + 100px);
      height: calc(100% + 100px);
      background-color: var(--yellow-light);
    }
  }

  .camera-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    span {
      display: block;
      font-size: 36px;
      line-height: 150%;
      font-weight: 600;

      &.emoji {
        font-size: 240px;
      }
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
